h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
    background-color: cornflowerblue;
}
.intro{
    color: green;
    font-size: 1.2em;
    background-color: lightgreen;
    text-align: center;
}
h2{
    color: red;
    text-align: center;
    text-decoration: underline;
    background-color: lightcoral;
    font-style: italic;
}